html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mainDiv {
  margin: 2rem;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
}

.styleList {
  border: 0.2rem solid red;
}

.bandList {
  background-color: rgb(108, 251, 251);
}

h1 {
  animation: blinkBorder 0.3s infinite alternate;
  padding: 0.5rem;
  margin: 2rem;
  text-align: center;
}

@keyframes blinkBorder {
  from {
    border: 0.2rem dotted #06ed66;
  }
  to {
    border: 0.2rem dotted #ffffff;
  }
}
